ligueOSCSS.txt
assets/css/style/estilo.css.map
assets/css/style/normalize.scss
*.scssc
assets/img/logo-branco.svg
assets/img/rito.png
assets/js/main.js
.vscode/settings.json
cores.txxt
assets/img/kat.svg
criadorDeMatéria.html
assets/css/normalize.scss
assets/css/estilo.css.map
assets/css/estilo.css
assets/js/testes.js
assets/css/style/teste.css
assets/img/logo-NK.svg
assets/img/Wild-Rift-1.png
blog/index1.html
cores.txt
estilo.css
.gitignore
