.carrosel{
    z-index: -1;
    position: relative;
}
.seta__direita {
    position: absolute;
    left: 0;
    top: 0;

    .seta__cima--direita{
        position: absolute;
        width: 29.32px;
        height: 4px;
        left: 0px;
        top: 0px;

        background: #C4C4C4;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 100px;
        transform: rotate(30deg);
    }

    .seta__baixo--direita{
        position: absolute;
        width: 29.32px;
        height: 4px;
        left: 0px;
        top: 14.14px;

        background: #C4C4C4;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 100px;
        transform: rotate(-30deg);

    }

}

.seta__esquerda {
    position: absolute;
    left: 0;
    top: 0;
    
    .seta__cima--esquerda{
        position: absolute;
        width: 29.32px;
        height: 4px;
        left: 0px;
        top: 0;

        background: #C4C4C4;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 100px;
        transform: rotate(-30deg);
        
    }

    .seta__baixo--esquerda{
        position: absolute;
        width: 29.32px;
        height: 4px;
        left: 0px;
        top: 14.14px;

        background: #C4C4C4;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 100px;
        transform: rotate(30deg);
    }
}

.home__card--padrao{
    display: none;
    grid-template-columns: 256px;
    grid-template-rows: 132px 175px auto;
    margin: 0;
    transition: 200ms;
}

.ativado {
    display: grid;
}

.carrosel__img{
    object-position: 0 0%;
    object-fit: cover
}

#conjunto__circulos{
    display: flex;
    width: 50px;
    justify-content: space-around;
    margin: 10px;
}
.circulo{
    width: 10px;
    height: 10px;
    background-color: var(--cor-da-letra);
    border-radius: 100px;
}

.selecionado{
    background-color: var(--cor-do-card);
}

.home__titulo--discord {
    font-weight: bold;
    text-align: center;
}

.discord{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 75px;

}

.discord__iframe{
    height: 400px;
    width: 80%;
}

.botao__discord {
    background: var(--cor-da-letra);
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin: 10px;
}

.link__discord{
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    color: var(--cor-do-card);
}

@media screen and (min-width: 1024px) {

    #carrosel {
        left: -80;
        width: 70vw;
        margin-bottom: 60px;
    }

    
    #conjunto__circulos{
        display: none;
    }

    .home__card {
        display: flex;
        align-items: center;
        margin-bottom: 0.5rem;
    }
    
    .home__img {
        object-fit: cover;
        width: 20%;
        height: 150px;
        border-radius: 5px 0px 0px 5px;
    }
    
    .home__texto {
        background: var(--cor-do-fundo);
        width: 50%;
        height: 150px;
        border-radius: 0px 5px 5px 0px;
    }
    
    .home__subtitulo {
        padding: 0px 21px 22px 22px;
        font-weight: normal;
    }

    .discord{
        position: absolute;
        top: 90px;
        right: calc(5vw);
        flex-direction: column;
        align-items: center;
        z-index: -1;
    
    }

    .discord__iframe{
        height: 300px;
        width: 300px;
    }
}