.materia {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.materia__titulo {
    margin: 0 0 11.5px 0;
    margin-top: calc(28px + 78px);
    font-size: 18px;
    width: 83.3%;
}

.materia__info {
    display: flex;
    flex-direction: row;
    width: 83.3%;
    justify-content: space-between;
    align-items: center;
}

.materia__conjunto {
    display: flex;
    align-items: center;
}

.conjunto__autor--link {
    padding-left: 8px;
    font-weight: 500;

}

.conjunto__img {
    background: var(--cor-do-card);
    border-radius: 5px;
    width: 48px;
    height: 48px;
}

.materia__data {
    font-weight: 500;
}

.materia__img {
    width: 83.3%;
    margin: 11.5px 0 11.5px 0;
    border-radius: 5px;
    object-fit: cover;
}

.materia__texto {
    width: 83.3%;
    margin: 5px 0 5px 0;
}
.assunto {
    margin-bottom: 95px;
}

.assunto {
    display: flex;
    margin-top: 20px;
    width: min-content;
}

.noticia__botao--artigo {
    margin-right: 10px;
}

@media screen and (min-width: 768px){

    .materia__img, .materia__texto, .materia__info, .materia__titulo{
        max-width: 46.875%;
    }

    .materia__titulo{
        font-size: 20px;
    }

    .materia__info {
        justify-content: start;
    }

    .materia__data {
        margin-left: 8px;
    }

}

@media screen and (min-width: 1024px){

    .assunto {
        width: 47.3%
    }

    .materia__titulo{
        margin-top: calc(28px + 58px);
    }

    .materia__img {
        width: 400px;
    }

    .anuncieAki--materia{

        background: gray;
        position: absolute;
        top: 130px;
        right: 100px;
        width: 115px;
        height: 80vh;
        z-index: -1;
    
    }
    .anuncieAki--materia2{
        background: gray;
        position: absolute;
        top: 130px;
        left: 100px;
        width: 115px;
        height: 80vh;
        z-index: -1;
    }

}