/* card de noticias */

.noticia__card {
    display: grid;
    grid-template-areas: 
        'imagem'
        'texto'
        'botao';
    grid-template-columns: 300px;
    grid-template-rows: auto auto auto;
    margin-bottom: 1.3rem;
}

.noticia__img {
    grid-area: 'imagem' ;
    width: 100%;
    height: 100%;
    grid-column: 1/2;
    grid-row: 1/2;
    border-radius: 5px 5px 0 0;
}

.noticia__texto {
    grid-area: 'texto';
    grid-column: 1/2;
    grid-row: 2/3;
    background: var(--cor-do-card);
}

.noticia__subtitulo {
    padding: 0px 21px 22px 22px;
    font-weight: normal;
}

.noticia__botoes {
    grid-area: 'botao';
    grid-column: 1/2;
    grid-row: 4/5;
    background: var(--cor-do-card);
    padding: 0 21px 22px 22px;
}

.noticia__botao {
    width: 124px;
    height: 37px;
    border: none;
    font-weight: bold;
    color: var(--cor-do-fundo);
    border-radius: 5px;
    background: var(--cor-da-letra);
}



