/* Header*/

.cabecalho {
    background-color: var(--preto);
    border-bottom: 2px solid var(--bordo);
    border-radius: 0 0 10px 10px;
    -webkit-box-shadow: 0 0 2em black;
            box-shadow: 0 0 2em black;
    width: 100%;
    position: fixed;
    top: 0;
}
  
.cabecalho__navegacao  {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4%;
}
  
.cabecalho__logo {
    width: 20%;
    height: 20%;
}
  
.cabecalho__lista {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 85%;
    padding-left: 0;
    list-style: none;
}
  
.cabecalho__lista {
    color: var(--branco);
    font-size: 1rem;
    text-align: center;
}
  
.cabecalho__item:hover {
    font-weight: 600;
}